<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <!-- NAV-->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/post/new}">Add post</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h1>Edit comment</h1>
    <form action="#" th:action="@{/comment/edit/{id}(id=${comment.getId()})}" enctype='multipart/form-data' method="post" style="width: 50%; margin-left: 25%; margin-right: 25%;">
        <div class="form-group">
            <label class="form-label" for="username">Username: </label>
            <input class="form-control" type="text" th:field="*{comment.username}" id="username" placeholder="Username">
            <span class="validationError"
                  th:errors="*{comment.username}">comment.username Error
            </span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="comment_content">Content: </label>
            <textarea class="form-control" id="comment_content" th:field="*{comment.comment_content}"rows="4"></textarea>
            <span class="validationError"
                  th:errors="*{comment.comment_content}">comment.comment_content Error
            </span>
        </div>
        <button type="submit" class="btn btn-outline-dark">Edit</button>
        <td><a th:href="@{/comment/delete/{id}(id=${comment.getId()})}" class="btn btn-outline-dark" role="button" data-toggle="confirmation">Delete</a></td>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation2/4.1.0/bootstrap-confirmation.min.js" crossorigin="anonymous"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>
</body>
</html>